body {
    margin-top: 7.5em;
    margin-bottom: 5em;
    margin-left: 2em;
    margin-right: 2em;
    padding: 0;
    background-color: var(--bgcolor);
}

p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.05em;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--pcolor);
}

#lyrics {
    overflow: auto;
    line-height: 1.75em;
}

::-webkit-scrollbar {
    width: 0.25em;
}

::-webkit-scrollbar-track {
    background: var(--scrolltrack);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollthumb);
    border-radius: 0.115em;
}

::selection {
    background: var(--selectionbg);
    color: var(--selectiontext);
}

#trackName::selection, #artistName::selection {
    background: var(--headerselectionbg);
    color: var(--headerselectiontext);
}
