#header {
    height: 6em;
    width: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    background-color: #e6e9ee;
    border: 0.12em solid #a0a4ab;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0em 0.5em 0.5em rgba(167, 167, 167, 0.4); 

    padding-left: 1em;
    padding-right: 1em;
}

#trackinfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image {
    height: 4em;
    width: 4em;
    border-radius: 0.25em;
    margin-right: 1.25em;
    box-shadow: 0em 0em 1em rgba(39, 40, 40, 0.2);

    object-fit: cover;
    object-fit: contain;
}

#trackName {
    font-size: 1.15em;
    font-weight: bold;
    color: rgb(41, 43, 46);
    line-height: 1em;
    margin-bottom: 0.6em;
}

#artistName {
    font-size: 0.95em;
    color: rgb(90, 94, 97);
}